In [3]:
# Import dependencies
import numpy as np
import pandas as pd

In [4]:
# Read the data
df = pd.read_csv("sample_load_weather_data.csv")

In [5]:
df.head()

,date,wkday,year,daycode,month,holidays,season,weather_type,load,temp,hr_weather_type,cdd,hdd
0,2017-01-01,sun,2017,0,1,1,W,mild,1.108011,70,mild,5,0
1,2017-01-02,mon,2017,1,1,0,W,mild,1.255454,67,mild,2,0
2,2017-01-03,twt,2017,2,1,1,W,mild,1.074134,70,mild,5,0
3,2017-01-04,twt,2017,3,1,1,W,cold,1.328308,52,cold,0,8
4,2017-01-05,twt,2017,4,1,1,W,cold,1.222549,56,cold,0,4

In [9]:
# drop the unrelated columns
dropped_df = df.drop(["date", "wkday", "year"] , axis = 1, inplace=False)

dropped_df.tail(5)

,daycode,month,holidays,season,weather_type,load,temp,hr_weather_type,cdd,hdd
350,3,12,1,W,cold,1.812026,41,xcold,0,19
351,4,12,1,W,cold,1.741627,43,xcold,0,17
352,5,12,1,W,cold,1.323119,51,cold,0,9
353,6,12,1,W,cold,1.056757,55,cold,0,5
354,0,12,1,W,cold,1.546742,47,xcold,0,13

In [10]:
# Get dummies

df_dummies = pd.get_dummies(dropped_df)
df_dummies.head()

,daycode,month,holidays,load,temp,cdd,hdd,season_F,season_S,season_Sp,season_W,weather_type_cold,weather_type_hot,weather_type_mild,hr_weather_type_cold,hr_weather_type_hot,hr_weather_type_mild,hr_weather_type_xcold,hr_weather_type_xhot,hr_weather_type_xxhot
0,0,1,1,1.108011,70,5,0,0,0,0,1,0,0,1,0,0,1,0,0,0
1,1,1,0,1.255454,67,2,0,0,0,0,1,0,0,1,0,0,1,0,0,0
2,2,1,1,1.074134,70,5,0,0,0,0,1,0,0,1,0,0,1,0,0,0
3,3,1,1,1.328308,52,0,8,0,0,0,1,1,0,0,1,0,0,0,0,0
4,4,1,1,1.222549,56,0,4,0,0,0,1,1,0,0,1,0,0,0,0,0

In [11]:
# save the data
df_dummies.to_csv('dummies_data.csv')